*{
    color: aliceblue;
    
}
header{
    background-color: #ffffff;
    border-color: #cccccc;
    /* padding: 10px; */
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom-width: 5px;
    border-color: #777777;
    
}

#name {
    background-color: #4aaaa5;
    width: 240px;
    margin: auto;
    height: 50px;
    position: absolute; 
    top: 0;
    left: 20%; 
}

#name_text{
    text-decoration-color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    padding-top: 10px;

}

.pagelinks a{
    background-color: #ffffff;
    width: 200px;
    color: #777777    

}

#about {
    position: absolute;
    left: 65%;
    padding: 5px;
    padding-right: 5; 
 
}

#portfolio {
    position: absolute;
    left: 70%; 
    padding: 5px; 
    padding-right: 10px;
    margin-right: 10px;

}

#contact {
    position: absolute;
    left: 78%; 
    padding: 5px; 

    /* margin-left: 5px; */

}

/* h1 {
    color: black;
    background-color: #4aaaa5;
} */

h2 {
    color: black;
}

.main_section {
    background-color: #ffffff;
    font: #777777;
}

#description {
    font: #777777;
}

.containerf {
    
    position: fixed;
    bottom: 0;
    background-color: #666666;

    /* padding: 5px; */
    width: 100%;
    border-top: 10px solid #4aaaa5;
    /* border-color: #4aaaa5; */

}


#cp_bar {
    height: 45px;
    /* background-color: #666666; */
    text-align: center;
    font-size: 60%;
    
}

#cp {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: fixed;
    bottom: 5px;
    left: 50%;
    color: #cccccc;

}